@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

@font-face {
  font-family: "DrukWide";
  src: url("/fonts/DrukWide-Super-Trial.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DrukText";
  src: url("/fonts/DrukText-Medium-Trial.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ZTNature";
  src: url("/fonts/ZTNature-Medium.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BabelSans";
  src: url("/fonts/BabelSans.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}

